@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=League+Spartan:wght@300&family=Montserrat:wght@300&family=Noto+Serif:ital@1&display=swap');


* {
  box-sizing: border-box;
}
@layer components {
  .btn {
    @apply m-px cursor-pointer rounded-md bg-purple-600 px-4 py-2 text-slate-300 shadow-md hover:bg-blue-400 hover:shadow dark:text-white;
  }
  .article_block {
    @apply m-1 my-3 rounded-lg bg-slate-200  shadow-sm hover:shadow-lg dark:bg-slate-700 overflow-hidden;
    max-height: 1024px;
    width: calc(100% - 8px);
  }
  .follow_btn{
    @apply m-1 flex items-center justify-between rounded-md border border-blue-500 px-1 text-blue-500 transition-all delay-100 hover:bg-blue-500 hover:text-white text-xs lg:text-sm
  }
  .brand_name {
    @apply cursor-pointer rounded-lg px-1 font-sans text-lg hover:shadow-xl;
    font-family: 'League Spartan', sans-serif;
  }
  .about_card {
    @apply m-5 text-base md:text-2xl lg:text-4xl inline-flex w-full flex-col items-center justify-center rounded-md bg-blue-200 p-2 py-5 shadow hover:shadow-lg dark:bg-blue-500 md:w-auto lg:m-0;
  }
  .min-h {
    min-height: calc(100% - 80px);
  }
}
.todo_container {
  @apply min-h;
  max-width: 768px;
}
.todo_text:hover + .delete_btn {
  @apply visible opacity-100;
}
.delete_btn:hover {
  @apply visible opacity-100;
}
.about_header {
  background: linear-gradient(180deg, #2577f6, transparent);
  font-family: 'League Spartan', sans-serif;
}
